{{!-- <form action="http://localhost:8080/webMavenDemo2/DemoServlet3" method="post" enctype="multipart/form-data">
    <input type="file" name="file" size="50" />
    <br />
    <input type="submit" value="Upload File" />
</form> --}}

{{test3}}