{{!-- <h4>
    Table view of the queried results...
</h4>
<table class="tableClass" style="width: 100%;">
    <tr class="tableClass">
        <th class="tableClass">Customer IP </th>
        <th class="tableClass">Counts of IP</th>
    </tr>
    {{#each @model as |myObjs|}}
    <tr class="tableClass">
        <td class="tableClass">{{myObjs.key}}</td>
        <td class="tableClass">{{myObjs.value}}</td>
    </tr>
    {{/each}}
</table> --}}


{{test2}}

