<br><br>

<label for="log">Choose a log format:</label>
  <select name="log" id="logs">
    <option value="windows">windows</option>
    <option value="linux">linux</option>
  </select>

<br><br>

<div>
    {{!-- <form action="http://localhost:8080/webMavenDemo2/DemoServlet3" method="post" enctype="multipart/form-data"
        data="id=0"> --}}

        <input type="file" id="nameFile" multiple>
        <button id="button" type="button" {{on "click" (fn this.dropUpload)}}>
            upload
        </button>
</div>

<br><br>

<pre>
    Wait for the alert message to pop up.
    Then go to page1 for generating the charts and tables...
</pre>